header.app-header-container {
    background-color: $clr0;
    // height: max-content;
    height: $headerFooterHeight;
    max-height: $headerFooterHeight;

    .app-header {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;


        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo-container {
                display: flex;
                align-items: center;
                img {
                    height: calc($headerFooterHeight / 2);
                }
            }

            nav {
                display: flex;
            }

            nav>* {
                padding: $layoutMainPadding;

                &.active {
                    background-color: darken($clr0, 20%);
                }

                &:hover {
                    background-color: darken($clr0, 10%);
                }
            }
        }

        .user-container {
            white-space: nowrap;

            .user-welcome{
                display: flex;
                gap: calc($layoutMainPadding * 2);

                article h2{
                    // display: flex;
                    margin-block:0;
                    margin-inline: 0;
                }

            }
        }
    }
}