.toy-msg-container {

    .msg-preview {

        display: flex;
        align-items: center;
        padding-block-end: $layoutMainPadding;

        .custom-button-remove {
            @include custom-button($clr6);
        }

        span {
            padding-inline: $layoutMainPadding;
            font-weight: 100;
            font-size: 0.7em;
        }
    }
}