* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

main {
    flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    /* display: inline-block; */
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.btn {
    display: inline-block;
    padding: var(--padding-gap);
    margin-block: var(--padding-gap);
    margin-inline: var(--padding-gap);
    background-color: var(--btn-bg-color0);
}

.btn:hover {
    background-color: var(--btn-bg-color1);
}

button.btn{
    border: none;
}