button.custom-button {
    display: inline-block;
    padding: var(--padding-gap);
    /* margin-block: var(--padding-gap); */
    /* margin-inline: var(--padding-gap); */
    background-color: var(--btn-bg-color0);
    border: none;
}

a.custom-button {
    display: inline-block;
    padding: var(--padding-gap);
    /* margin-block: var(--padding-gap); */
    /* margin-inline: var(--padding-gap); */
    background-color: var(--btn-bg-color0);
    white-space: nowrap;
}

.custom-button:hover {
    background-color: var(--btn-bg-color1);
    cursor: pointer;
}

