.toy-details {

    &>* {
        padding-block: $layoutMainPadding;
    }


    .custom-button  {
        margin-block: $layoutMainPadding;
        @include custom-btn;
        // font-size: 200%;
    }

    .details {
        &>* {
            padding-block: $layoutSmallPadding;
        }

        .is-stock {
            font-size: 2rem;

            &.in-stock {
                color: rgb(126, 226, 27);
            }

            &.not-in-stock {
                color: red;
            }
        }
    }


    .toy-comments {
        // padding-block: $layoutMainPadding;

        &>* {
            padding-block: $layoutMainPadding;
        }
    }
}