.toy-index {
    padding: var(--padding-gap);
}

.toy-index>* {
    margin-block: var(--padding-gap);
}

.toy-container {
    background-color: var(--toy-list-color0);
}

.no-toys-notice,
.loading-notice {
    display: block;
    text-align: center;
}