.user-profile {
    padding: var(--padding-gap);
}

.user-greeting,
.user-settings-edit,
.user-settings-edit>* {
    display: flex;
    align-items: center;
}

.user-greeting,
.user-settings-edit>* {
    gap: calc(var(--padding-gap) / 2);
}


.user-settings-edit {
    gap: calc(var(--padding-gap) * 3);
}

.user-settings-edit input[type=submit] {
    margin-inline-start: calc(var(--padding-gap) * 5);
}