@font-face {
    font-family: Bahnschrift;
    // src: url(../../assets/fonts/Bahnschrift/bahnschrift.ttf);
    src: url(../../fonts/Bahnschrift/bahnschrift.ttf);
}

@font-face {
    font-family: GreatVibes;
    src: url(../../fonts/GreatVibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../../fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Black.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../../fonts/OpenSans/OpenSans-Bold.ttf);
}